h1,h2,h3{
	color:red; background-color:yellow; font-size:30px; text-align:center;
	}
	
	.raj{
	color:green;
	}
	
	.bg{
		background-color:LightGray;
		text-align:center;
	}
	
	
	#nagar{
	color:pink;
	}